* {
	font-family: JetBrainsMono, Symbols Nerd Font;
	font-weight: bold;
	font-size: 16px;
	min-height: 0;
}

@define-color bg #1F1F28;
@define-color bg2 #2A2A37;
@define-color fg #C8C093;
@define-color pink #D27E99;
@define-color green #98BB6C;
@define-color fl #938AA9;
@define-color blue #7E9CD8;
@define-color red #FF5D62;
@define-color vl #957FB8;
@define-color yellow #E6C384;


window#waybar {
	border-radius: 20;
	background-color: @bg;
}

#workspaces {
	padding: 2 16;
	margin: 6 0;
	color: @fg;
	background-color: @bg2;
	border: none;
	border-radius: 20;
}
button {
	box-shadow: inset 0 -3px transparent;
	border: none;
	border-radius: 0;
}
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px transparent;
}
#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: @gf;
}
#workspaces button:hover {
	color: @yellow;
}
#workspaces button.focused {
}
#workspaces button.urgent {
}

#window {
	padding: 2 8;
	margin: 5;
	color: @yellow;
	background-color: @bg2;
	border: none;
	border-radius: 20;
}

#custom-weather {
	padding: 2 8;
	margin: 6 8;
	color: @fg;
	background-color: @bg2;
	border: none;
	border-radius: 20;
}

#temperature {
	padding: 2 8;
	margin: 6 0;
	color: @fg;
	background-color: @bg2;
	border: none;
	border-radius: 20;
}

#backlight {
	padding: 2 8;
	margin: 6 0 6 8;
	color: @fg;
	background-color: @bg2;
	border: none;
	border-radius: 20;
}

#tray {
	padding: 2 8;
	margin: 8;
	background-color: @bg2;
	border: none;
	border-radius: 20;
}

#language {
	padding: 2 16;
	margin: 6 8;
	color: @fg;
	background-color: @bg2;
	border: none;
	border-radius: 20;
}
#language:hover {
	color: @yellow;
}

#pulseaudio {
	padding: 2 16;
	margin: 8;
	color: @fg;
	background-color: @bg2;
	border: none;
	border-radius: 20;
}
#pulseaudio.muted {
	color: @red;
}
#pulseaudio:hover {
	color: @yellow;
}

#clock {
	padding: 2 16;
	margin: 6 8;
	color: @fg;
	background-color: @bg2;
	border: none;
	border-radius: 20;
}
#clock:hover {
	color: @yellow;
}

#network {
	padding: 4 8;
	margin: 8 0;
	color: @pink;
	background-color: @bg2;
	border: none;
	border-radius: 20;
}

#battery {
	padding: 2 16;
	margin: 8 0;
	color: @pink;
	background-color: @bg2;
	border: none;
	border-radius: 20;
}

#battery.charging {
    color: @bg2;
    background-color: @green;
}

tooltip {
	background: @bg;
	margin: 20px;
	padding: 16px;
	border: 20px solid rgba(100, 114, 125, 0);
	border-radius: 10px;
}
